<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.havertys.androidmdc" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lp.LpInquiryActivity"
            android:label="@string/title_activity_lp_inquiry" >
        </activity>
        <activity
            android:name=".lp.receiving.LpReceivingActivity"
            android:label="@string/title_activity_lp_receiving" >
        </activity>
        <activity
            android:name=".signin.HvtOptionActivity"
            android:label="@string/title_activity_option" >
        </activity>
        <activity
            android:name=".signin.HvtMenuActivity"
            android:label="@string/title_activity_hvt_menu" >
        </activity>
    </application>

</manifest>
